<mat-card class="forgotPassword-card">
  <mat-card-header>
    <div mat-card-avatar class="forgotPassword-header-image"></div>
    <mat-card-title>Elfelejtett jelszó</mat-card-title>
    <mat-card-subtitle>Kérlek add meg az email címed:</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Ha elfelejtetted a jelszavad, kérlek írd be az alábbi mezőbe, és erősítsd meg a levelezési fiókodban az új jelszavad.
    </p>
    <form>
      <mat-form-field class="forgotPassword-form">
        <input matInput type="email" placeholder="Email cím" #passwordResetEmail required>
      </mat-form-field>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <div class="forgotPassword-button">
    <button color="accent" mat-raised-button value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">Új jelszó</button>
    </div>
    <div>
      <button mat-raised-button routerLink="/sign-in">Vissza</button>
    </div>
  </mat-card-actions>
</mat-card>
