<!-- Top navigation -->
<nav>
  <a routerLink="/register-student">
    <span>Dashboard</span>
  </a>
</nav>
<!-- Sidebar navigation -->
<div>
  <div>
    <nav>
      <div>
        <ul>
          <li>
            <a>
              <i></i>User Profile
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li>
            <a (click)="authService.SignOut()">
              <i></i>Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Main content -->
    <main role="main">
      <div>

        <div>
          <h1>User Profile</h1>
        </div>
        <!-- Show user data when logged in -->
        <div *ngIf="authService.userData as user">
          <div>
            <div>
              <img src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}">
              <div>
                <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                <p>User ID: <strong>{{user.uid}}</strong></p>
                <p>Email: <strong>{{user.email}}</strong></p>
                <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>