<mat-card class="signup-card">
  <mat-card-header>
    <div mat-card-avatar class="signup-header-image"></div>
    <mat-card-title>Regisztráció</mat-card-title>
    <mat-card-subtitle>Email címedre megerősítő levelet fogunk küldeni.</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/adblockTerms.jpg">
  <mat-card-content>
    <form class="signup-form">
      <mat-form-field class="signup-full-width">
        <input matInput type="email" placeholder="Email Address" #userEmail required>
      </mat-form-field>
      <mat-form-field class="signup-full-width">
        <input matInput type="password" placeholder="Password" #userPwd required>
      </mat-form-field>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <div class="registrateButton">
      <button color="warn" mat-raised-button type="button" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)">Regisztrálok</button>
      <button color="primary" mat-raised-button type="button" (click)="authService.GoogleAuth()">Folytatás google fiókkal</button>
    </div>
    <div class="alreadyRegistered">
    <span>Már regisztráltál? <button mat-button color="primary" routerLink="/sign-in">Lépj be !</button></span>
    </div>
  </mat-card-actions>
</mat-card>
