<div class="toMiddleContainer">
<ol>
  <li><span>Gratulálok, Nyertél ! </span></li>
  <li>
    <mat-form-field>

      <input matInput [(ngModel)]="name" placeholder="Kérlek írd be a neved!">
    </mat-form-field>
  </li>
  <li>
    <!--<button mat-raised-button (click)="openDialog()">Tovább</button>-->

    <button mat-raised-button color="warn" (click)="openDialog()"
            matBadge="{{counter}}" matBadgePosition="after" matBadgeColor="primary">
      Tovább
    </button>
  </li>
</ol>
</div>
