<mat-toolbar color="primary">
  <mat-toolbar-row *ngIf="authService.userData as user">
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <img src="{{user.photoURL ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}">
    <h1>Üdvözöllek, {{(user.displayName) ? user.displayName : 'User'}}</h1>
    <span class="fill-remaining-space">No Adblock Please</span>

    <button mat-button *ngIf="authService.afAuth.authState" (click)="authService.SignOut()">Kijelentkezés</button>
    <!--<p>User ID: <strong>{{user.uid}}</strong></p>-->
    <!--<p>Email: <strong>{{user.email}}</strong></p>-->
    <!--<p>Email Verified: <strong>{{user.emailVerified}}</strong></p>-->
  </mat-toolbar-row>
</mat-toolbar>
