<mat-card class="verifyEmail-card">
  <mat-card-header>
    <div mat-card-avatar class="verifyEmail-header-image"></div>
    <mat-card-title>Sikeres regisztráció!</mat-card-title>

  </mat-card-header>
  <img mat-card-image src="../../../assets/registerSuccessMain.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p *ngIf="authService.userData as user">
      Gratulálunk! Sikeresen regisztráltál az oldalra, megerősítő emailt küldtünk neked a
      <strong>{{user.email}}</strong>  email címedre, amire mostmár naponta fogunk küldeni
      értesítést az akciókról, ajánlatokról.
    </p>
    <p>
      Ha szeretnél erről leiratkozni, kattints
      <button routerLink="/register-user" mat-button matTooltip="Sajnálom, neked nem lehet leiratkozni." matTooltipPosition="above">>>ide.<<</button>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button routerLink="/sign-in">Bejelentkezés</button>
    <div class="alignRight">
      <button color="warn" mat-button type="button" (click)="authService.SendVerificationMail()">Nem kaptam megerősítő emailt.</button>
    </div>
  </mat-card-actions>
</mat-card>
