<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <main></main>


    <div class="componentContainer">
    <mat-toolbar class="left">
      <app-advertone *ngIf="[randomNumberLeft] == 1"></app-advertone>
      <app-adverttwo *ngIf="[randomNumberLeft] == 2"></app-adverttwo>
      <app-advertthree *ngIf="[randomNumberLeft] == 3"></app-advertthree>
      <app-advertfour *ngIf="[randomNumberLeft] == 4"></app-advertfour>
      <app-advertfive *ngIf="[randomNumberLeft] == 5"></app-advertfive>
      <app-advertone *ngIf="[randomNumberLeft] == 2"></app-advertone>
      <app-adverttwo *ngIf="[randomNumberLeft] == 3"></app-adverttwo>
      <app-advertthree *ngIf="[randomNumberLeft] == 4"></app-advertthree>
      <app-advertfour *ngIf="[randomNumberLeft] == 5"></app-advertfour>
      <app-advertfive *ngIf="[randomNumberLeft] == 1"></app-advertfive>
    </mat-toolbar>

    <div class="middle-content">
      <router-outlet></router-outlet>
    </div>

    <mat-toolbar class="right">
      <app-advertone *ngIf="[randomNumberRight] == 1"></app-advertone>
      <app-adverttwo *ngIf="[randomNumberRight] == 2"></app-adverttwo>
      <app-advertthree *ngIf="[randomNumberRight] == 3"></app-advertthree>
      <app-advertfour *ngIf="[randomNumberRight] == 4"></app-advertfour>
      <app-advertfive *ngIf="[randomNumberRight] == 5"></app-advertfive>
      <app-advertone *ngIf="[randomNumberLeft] == 2"></app-advertone>
      <app-adverttwo *ngIf="[randomNumberLeft] == 3"></app-adverttwo>
      <app-advertthree *ngIf="[randomNumberLeft] == 4"></app-advertthree>
      <app-advertfour *ngIf="[randomNumberLeft] == 5"></app-advertfour>
      <app-advertfive *ngIf="[randomNumberLeft] == 1"></app-advertfive>
    </mat-toolbar>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
