<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <main><router-outlet></router-outlet></main>

    <h1>Találd meg az oldalon azt a rejtett elemet, amelyik elvisz téged a nyereményedig! </h1>
    <app-advertone *ngIf="[randomNumberMain] == 1"></app-advertone>
    <app-adverttwo *ngIf="[randomNumberMain] == 2"></app-adverttwo>
    <app-advertthree *ngIf="[randomNumberMain] == 3"></app-advertthree>
    <app-advertfour *ngIf="[randomNumberMain] == 4"></app-advertfour>
    <app-advertfive *ngIf="[randomNumberMain] == 5"></app-advertfive>




  </mat-sidenav-content>
</mat-sidenav-container>



