.mat-sidenav-container{
  /*background-color: lightskyblue;*/
  min-height: 93vh !important;
}

h1{
  text-align: center;
}

@media screen and (max-width: 1438px) {
  .componentContainer {
    margin-top: 1%;
  }

  .middle-content{
    border: 1px solid green;
    flex: 1 1 auto;
    align-items: center;
    flex-direction: column;
    display: flex;
    min-height: 60vh;
    width: 100%;
    float: left;
    padding: 1%;
    height: 90vh;
  }

  .left {
    border: 1px solid blue;
    display: flex;
    flex: 1 1 auto;
    height: 20%;
    justify-content: center;
  }


  .right  {
    border: 1px solid red;
    display: flex;
    flex: 1 1 auto;
    height: 20%;
    justify-content: center;
  }

  app-advertone ,app-adverttwo ,app-advertthree ,app-advertfour ,app-advertfive{
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 20%;
  }
}


@media screen and (min-width: 1439px) {
  .componentContainer {
    margin-top: 0.5%;
  }

  mat-toolbar {
    flex-direction: column;
  }

  .componentContainer:after {
    content: "";
    display: table;
    clear: both;
  }

  .middle-content {
    border: 1px solid green;
    float: left;
    width: 58.7%;
    padding: 1%;
    height: 90vh;
  }

  .left {
    border: 1px solid red;
    float: left;
    width: 19%;
    height: 90vh;
    margin-right: 0.5%;
  }

  .right {
    border: 1px solid red;
    float: left;
    width: 19%;

    height: 90vh;
    margin-left: 0.5%;
  }

  app-advertone ,app-adverttwo ,app-advertthree ,app-advertfour ,app-advertfive, app-advertsix, app-advertseven, app-adverteight, app-adverteight, app-advertnine, app-advertten{
  position: relative;
    width: 100%;
    max-height: 18vh;
    border: 1px solid black;

    padding-top: 5%;
    padding-bottom: 5%;
  }
}

